<div style="background: #ECECEC;padding:30px;margin:-24px">
    <div nz-row [nzGutter]="8"><!--nzGutter  卡片左右间距-->
        <div nz-col class="card-box" [nzSpan]="8" *ngFor="let item of items" style="margin-bottom:8px;">
            <!-- <nz-card>
                <ng-template #title>
                    <a href="javascript:;" (click)="zorroClick(body)">{{item.title}}</a>
                </ng-template>
                <ng-template #extra>
                    <a>More</a>
                </ng-template>
                <ng-template #body >
                    <div style="cursor:pointer">{{item.content}}</div>
                </ng-template>
            </nz-card> -->
            <div class="card-head" (click)="zorroClick(item.title)">
                {{item.title}}
            </div>
            <div class="card-body">
                {{item.content}}
            </div>
        </div>
        <div nz-col class="card-box" [nzSpan]="8" *ngFor="let item of items" style="margin-bottom:8px;">
            <div class="card-head" (click)="zorroClick(item.title)">
                {{item.title}}
            </div>
            <div class="card-body">
                <img class="imgStyle" src={{item.url}} alt="">
                <span style="vertical-align:top">
                    {{item.content}}
                </span>
            </div>
        </div>
    </div>
</div>