.steps-content {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #fafafa;
    min-height: 200px;
    text-align: center;
    padding: 30px 10px;
  }

  .steps-action {
    margin-top: 24px;
  }
  .change-options {
    display: inline-block;
    font-size: 12px;
    margin-top: 8px;
  }