<div class="container">
    <template-interpolation></template-interpolation>
    <template-ref-var></template-ref-var>
    <value-binding></value-binding>
    <event-binding></event-binding>
    <twoway-binding></twoway-binding>
    <test-ng-if></test-ng-if>
    <test-ng-for></test-ng-for>
    <test-ng-switch></test-ng-switch>
    <test-ng-class></test-ng-class>
    <test-ng-style></test-ng-style>
    <test-ng-model></test-ng-model>
    <test-pipe></test-pipe>
    <save-nav></save-nav>
    <parent-and-child></parent-and-child>
    <brother></brother>
    <local-storage></local-storage>
    <life-cycle title="父组件传递进来的标题"></life-cycle>
    <test-on-changes></test-on-changes>
    <test-ng-content></test-ng-content>
    <!-- ==========================组件的高级玩法======================== -->
    <!-- <test-dynamic></test-dynamic>
    <test-shadow-dom></test-shadow-dom>
    <test-ng-content222></test-ng-content222>
    <test-content-child></test-content-child>
    <test-content-childs></test-content-childs>
    <test-view-child></test-view-child> -->
    <!-- =============指令============== -->
   <!--  <p my-hight-light highlightColor="red">
        这是被高亮的
    </p> -->
    <!-- <user-list></user-list> -->
</div>